<h1>Formulario de carga de productos</h1>

    <form action="/products" method="post">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" required/><br/><br/>

        <label for="price">price: </label>
        <input type="number" name="price" id="price" required /><br/><br/>

        <label for="thumbnail">thumbnail: </label>
        <input type="url" name="thumbnail" id="thumbnail" required /><br/><br/>

        <input type="submit" value="Agregar" />
    </form>