<div class="container w-50 p-3 rounded mt-3" style="background-color: rgba(94, 169, 138, 1)">
    
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <h2>Fallo el inicio de sesion</h2>
        </li>
        
        <li class="nav-item">
            <a href="/session/logout" class="btn btn-primary">login</a>
        </li>
    </ul>
</div>